.main-content {
    padding-left: 3.12rem;
    padding-right: 3.12rem;
    width: 100%;
}

.main-heading {
    margin-top: 3.12rem;
    margin-bottom: 3.12rem;
    font-size: 3.5rem;
    line-height: 1;
    text-align: center;
    color: #3f3d56;
    font-weight: 600;
}

.line1 {
   background-color: #d0cde1;
   opacity: 0.3;
}

.line2 {
    background-color: #d0cde1;
    margin-bottom: 3.12rem;
    opacity: 0.3;
}

.inner-heading-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.25rem;
    line-height: 2.5rem;
    margin-bottom: 3.12rem;
    color: #3f3d56;
    font-weight: 600;
}

.button-wrapper-main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    width: auto;
    height: 5rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    font-size: 2.25rem;
    line-height: 2.5rem;
    color: white;
    border-radius: 1rem;
    background-color: #7d639f;
    margin-bottom: 3.12rem;
    font-weight: bold;
    border: none;
}

.button:focus {
    outline: none;
}

@media (max-width: 1024px) {
    .main-content{
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }

    .main-heading {
        margin-top: 1.25rem;
        margin-bottom: 1.25rem;
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .line2 {
        margin-bottom: 1.875rem;
    }

    .inner-heading-wrapper {
        font-size: 0.875rem;
        line-height: 1.25rem;
        margin-bottom: 0.6rem;
    }

    .button {
        width: 12.25rem;
        height: 1.875rem;
        margin-bottom: 1.875rem;
        font-size: 0.875rem;
        line-height: 1.25rem;
    }
}